/* COLOR VARIABLES */
:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;

  --background-color: #f5f4fa;
  --contrast-background-color: #2f303a;

  --main-decor-color: #2196f3;
  --secondary-decor-color: #188ce8;
  --third-decor-color: #ffffff;

  --logo-secondary-color: #000000;
}

/*
*** GENERAL ***
*/
body {
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.section-title,
.advantage-value,
.member-name,
.project-title {
  color: var(--secondary-text-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-decor-color);
}

a {
  text-decoration: none;
  line-height: 1.14;
}

.list {
  list-style: none;
}

.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  border-color: transparent;
  border-radius: 4px;
}

.btn:hover {
  cursor: pointer;
}

/*
*** COMPONENTS ***
*/

/* HEADER */

.logo-part {
  color: var(--logo-secondary-color);
}

.page-header .link {
  letter-spacing: 0.02em;
  font-weight: 500;
}

.main-navigation .link {
  color: var(--secondary-text-color);
}

.link.active {
  color: var(--main-decor-color);
}

.header-contact-us .link {
  color: var(--primary-text-color);
  line-height: 1.14;
}

.link:hover,
.link:focus,
.page-footer .link:hover,
.page-footer .link:focus {
  color: var(--main-decor-color);
}

/* HERO */

.hero {
  background-color: var(--contrast-background-color);
}

.hero .hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-decor-color);
}

.hero .btn.make-order {
  color: var(--third-decor-color);
  background-color: var(--main-decor-color);
  letter-spacing: 0.06em;
  cursor: pointer;
}

.hero .btn.make-order:hover,
.hero .btn.make-order:focus {
  background-color: var(--secondary-decor-color);
}

/* OUR ADVANTAGES */
.advantage-value {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantage-description {
  line-height: 1.71;
}

/* OUR OCCUPATION */

/* OUR TEAM */
.our-team {
  background-color: var(--background-color);
}

.our-team .team-card {
  background-color: var(--third-decor-color);
  text-align: center;
}

.member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team-card .position {
  font-size: 16px;
  line-height: 1.18;
}

/* FOOTER */

.page-footer {
  background-color: var(--contrast-background-color);
}

.page-footer .logo-part {
  color: var(--third-decor-color);
}

.page-footer .contact-us {
  font-style: normal;
}
.contact-us .link {
  color: rgba(var(--third-decor-color), 0.6);
  line-height: 1.71;
}

.contact-us .our-location {
  color: var(--third-decor-color);
}

/* 
**** PORTFOLIO PAGE ***
*/

/* FILTER SECTION */
.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: var(--background-color);
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--main-decor-color);
  color: var(--third-decor-color);
}

/* OUR WORKS */

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-type {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}
