/* COLOR VARIABLES */
:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;

  --main-background-color: #FFFFFF;
  --secondary-background-color: #F5F4FA;
  --contrast-background-color: #2F303A;

  --link-hover-focus-color: #2196F3;

  --button-background-color: #2196F3;
  --button-hover-focus-background-color: #188CE8;
}

/*
*** GENERAL ***
*/
body {
  color: var(--primary-text-color);
  background-color: var(--main-background-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

h2, 
h3 {
  color: var(--secondary-text-color)
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

.btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}



/*
*** COMPONENTS ***
*/

/* HEADER */

.main-navigation .logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.main-navigation .link,
.contact-us .contact-info {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.main-navigation .link {
  color: #212121;
}

.contact-us .mail,
.contact-us .phone {
  color: #757575
}

.main-navigation .link:hover,
.main-navigation .link:focus,
.contact-us .contact-info:hover,
.contact-us .contact-info:focus {
  color: var(--link-hover-focus-color)
}

/* HERO */
.hero .hero-title {

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /* color: #FFFFFF; */
}

.hero .btn.make-order {
  color: #ffffff;
  background-color: var(--button-background-color);
}
.hero .btn.make-order:hover,
.hero .btn.make-order:focus {
  background-color: var(--button-hover-focus-background-color);
}

/* OUR ADVANTAGES */

/* OUR OCCUPATION */

/* OUR TEAM */
.our-team {
  background-color: var(--secondary-background-color);
}

.our-team .team-card {
  background-color: var(--main-background-color);
  text-align: center;
}

.team-card .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18; 
  text-align: center;
}